/*------estilo para selector UNIVERSAL */

*{ 
    margin: 0;
    padding:0;
}

/*---------------------------------------HEADER---------------------------------------*/
/*--Navegador--*/
.nav{
    text-align: right;
}

.etiqueta-nav{
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
}

#toggle{
    display: none;
}

.wrapp{
    margin: 0 30px 0 0;
}

#contenedor{
    position: relative;
    background: linear-gradient(to left, royalblue, white);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    align-items: center;
    flex-wrap: nowrap;
}

.imagen-logo{
    height: fit-content;
    width: 15vh;
    border-radius: 50%;
    margin-left: 0.5%;
    animation-delay: 1.5s;
}

.animate__animated.animate__shakeX {
    --animate-duration: 2s;
  }

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
}

.menu-lista{
    clear: right;
    display: flex;
    flex-direction: row ;
    align-items: center;
    color: white;
    font-size: 2.5vh;
    padding: 1em;
    font-variant: all-small-caps;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
}

.redirigir{
    text-decoration: none;
    color:white
}
/*--Fin Navegador--*/


/*----------------------------------------BODY----------------------------------------*/

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

/*-----------PRODUCTOS--------*/

.titulo-principal{
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    padding-top: 1rem;
}

.wrapp-products{
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3%;
}

.productos-col{
    flex-basis: 31%;
    background:linear-gradient(to left, royalblue, white);
    border-radius: 10px;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.producto1 {
    text-align: center;
    margin: auto;
    width: 12rem;
}

.producto2 {
    text-align: center;
    margin: auto;
    width: 12rem;
}

.producto3 {
    text-align: center;
    margin: auto;
    width: 12rem;
}
.producto-title{
    text-align: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

.producto-precio{
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

.btn-productos{
    text-align: center;
    background: royalblue;
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
}

.btn-ver-productos{
    text-decoration: none;
    color: white;
}
/*-------------HOME----------*/



/*----------- FIN HOME--------*/
/*---------SUCURSALES---------*/



.sucursales{
    text-align: center;
    color:black;
    font-family: 'Roboto Flex', sans-serif;
}

/*--Tabla--*/

.tabla-wrapp{
    overflow-x: auto;
    margin: 0;
    /*padding-bottom: 10%;*/
}

.tabla-sucursales, td{
    margin-top: 2em;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em 0;
}

td{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}

th{
    background: royalblue;
    border: 1px solid #1598d4;
    padding: 10px;
    font-size: 2.5vh;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
}

.first-row{
    text-align: center;
    font-weight: bold;
}

.second-row{
    font-size: 2vh;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
}

.devoto, .caballito, .recoleta{
    padding-top: 10px;
    padding-bottom: 10px;
}

.thirth-row iframe{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.tabla-sucursales a{
    color:blue;
    margin-left: 10px;
    margin-right: 10px;
}

.tlf, p{
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2.5vh;
    margin-bottom: 3vh;
}
/*--Fin Tabla--*/
/*------------- FIN SUCURSALES--------*/
/*------------------REGISTRO----------*/
.registro{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.registro-wrapper{
    max-width: 100%;
    width: 80%;
    margin: 1% auto 0;
}
  
  .registro-wrapper .form_container{
    background: #fff;
    padding: 30px;
    margin-bottom: 70px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

  .heading{
    background: linear-gradient(to left, royalblue, white);
    margin: -30px;
    text-align: center;
    color: white;
    font-size: 2vh;
    margin-bottom: 35px;
    padding: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

.registro-wrapper .form_container .form_item{
    font-size: 0.75em;
    margin-bottom: 25px;
    font-family: 'Roboto Flex', sans-serif;
}
  
  .form_wrap.fullname,
  .form_wrap.select_box{
    display: flex;
}
  
  .form_wrap.fullname .form_item,
  .form_wrap.select_box .form_item{
    width: 50%;
}
  
  .form_wrap.fullname .form_item:first-child,
  .form_wrap.select_box .form_item:first-child{
    margin-right: 4%;
}
  
  .registro-wrapper .form_container .form_item label{
    display: block;
    margin-bottom: 5px;
    font-family: 'Roboto Flex', sans-serif;
}
  
  .form_item input[type="text"],
  .form_item select{
    width: 100%;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
    font-family: 'Roboto Flex', sans-serif;
}
  
  .form_item input[type="text"]:focus{
    border-color: #6271f0;
}

.btn input[type="submit"]{
    background: royalblue;
    border: 1px solid #1598d4;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
  }

/*----------------END-REGISTRO-------------*/
.end-registro-gracias{
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.end-registro-revisa{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/*---------FIN REGISTROS----------*/

/*-------------------------------------FOOTER-----------------------------------------------------*/


.pie{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:royalblue;
    text-align: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2.5vh;
}

/*--Redes Sociales--*/
i{
    margin-top: 10px;
    color: white;
}

/*--Fin Redes Sociales--*/

/*----MEDIA QUERY-----*/
@media (max-width: 881px){
    .btn-productos{
            font-size: smaller;
    }
    .producto-precio, .producto-title, .titulo-principal{
        font-size: medium;
    }
    .wrapp-products{
        margin-top: 1%;
    }

    .titulo-principal{
        padding-top: 0;
    }
    }


@media (max-width: 765px){
.wrapp-products {
    padding-bottom:10%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.btn-productos{
    margin: auto;
    text-align: center;
    flex-direction: column;
}
}

@media (max-width: 519px){
.btn-productos{
    margin-bottom: 10px;
    width: auto;
        font-size: smaller;
}
.producto-precio, .producto-title{
    font-size: small;
}

.producto1,.producto2,.producto3{
    width: auto;
}
}

@media (max-width: 200px){
    .btn-productos{
        width: auto;
        font-size: auto;
    }
    .producto-precio, .producto-title{
        font-size: 1px;
    }
    }

@media only screen and (max-width: 500px){
    .etiqueta-nav{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .menu-lista{
        display: flex;
        flex-direction: column;
    }

    #toggle:checked + .menu {
        display:inline-flex;
        flex-direction: column;
    }
}